<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
      if (window.innerWidth < 500) {
      // Phone
      document.querySelector("meta[name=viewport]").setAttribute('content', 'width=480');
    }
    else if (window.innerWidth < 650) {
      // Tablet
      document.querySelector("meta[name=viewport]").setAttribute('content', 'width=670');
      }
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/didact-gothic" rel="stylesheet" type="text/css"/>
    <title>Dream Tours to Go - {{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div id="nav" class="menu-bar clearfix"><div class="menu-part menu-part-1"><div class="level-1-button action">
Dream Tours to Go
        </div><div class="level-2-button action">
Tours
        </div></div><div class="menu-part menu-part-2"><div class="promo-box action">
<a href="/russia">Russia discount</a>
expires soon.
        </div><div class="level-2b-button action">
Tips
        </div><div class="action-text action">
704-543-1972
        </div><div class="action-button action">
Book Now
        </div></div></div>
      <div class="inner">

        <header>
          <title>{{ page.title }}</title>
        </header>

        <section id="main_content">
{{ content }}
        </section>

      </div>
    </div>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-52966805-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>
  </body>
</html>
